.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;

  & .card {
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: var(--radius-lg);

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
    }

    & h3 {
      color: var(--color-text-secondary);
    }
  }
}
