.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  text-align: center;
}

.card {
  margin: 0;
  padding: 1rem;
}

.card h3 {
  color: var(--color-text-secondary);
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}